@import "@/app/assets/styles/bundle.scss";

// Header Mobile Component Styles

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  background-color: hsl(46deg 100% 50%);
  z-index: 1000;

  &.transparent {
    background-color: transparent;
  }
}

.logoCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 193px;
  height: 50px;
  background-color: hsl(0deg 0% 100%);
  border-radius: 16px;
  box-shadow: 0 2px 8px hsl(0deg 0% 0% / 8%);
}

.logo {
  width: auto;
  height: 32px;
}

